<div class="px-40 mt-10 flex justify-center">
  <form class="w-96 shadow p-6">
    <h1 class="text-xs">Adicionar Nova Marca</h1>
    <div class="flex flex-wrap">
      <mat-form-field class="w-full">
        <mat-label>Nome</mat-label>
        <input
          matInput
          type="text"
          placeholder="Nome da Marca"
          name="name"
          [(ngModel)]="name"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" (click)="add()">Criar</button>
    </div>
  </form>
</div>
